<!DOCTYPE html>
<html>
<head>
    <title>PROMPT</title>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <!--
      IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
      For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
    -->
    <!--[if lt IE 9]>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
      <script>
        document.createElement('ui-select');
        document.createElement('ui-select-match');
        document.createElement('ui-select-choices');
      </script>
    <![endif]-->


    <meta charset="utf-8">
    <link href="Content/style.css" rel="stylesheet" />
    
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/ui-grid.min.css" rel="stylesheet" />
    <link href="Content/app.css" rel="stylesheet" />
    <link href="Content/select2.css" rel="stylesheet" />
    <link href="Content/select.min.css" rel="stylesheet" />
    <link href="Content/angular-growl.min.css" rel="stylesheet">
    
    <link href="Content/kendo.common.min.css" rel="stylesheet" />
    <link href="Content/kendo.metro.min.css" rel="stylesheet" />
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" /> 
    
    <!--<link href="Content/kendo.2015.1.318/kendo.common.min.css" rel="stylesheet" />
    <link href="Content/kendo.2015.1.318/kendo.metro.min.css" rel="stylesheet" />
    <link href="Content/kendo.2015.1.318/kendo.dataviz.default.min.css" rel="stylesheet" />
    <link href="Content/kendo.2015.1.318/kendo.dataviz.min.css" rel="stylesheet" />
    
    <link href="Content/kendo.2015.1.318/kendo.rtl.min.css" rel="stylesheet" />-->

    <style>
        /*.full-screen {
                  position: fixed;
                  height: 100%;
                  width: 100%;
                  top: 0;
                  left: 0;
                }*/

        .zIndex-10--loadingPage {
            z-index: 1000;
        }

        [ng:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>
<body>
<header>
        <div class="row">
            <div id="logo" class="col-md-8">
                <img src="./Content/images/nwLogo.png">
            </div>
            <div id="top-loggedin" class="col-md-4">
                <div class="col-md-5 right login-bar">
                  logged in as: admin <img class="right" height=20px width=20px src="Content/images/gear.png">  
                </div>
                
            </div>    
        </div>
        <div id="header-menu" class="row">
            <div class="col-md-12">
                <ul id="topMenu" data-role="menu" class="h-menu k-menu k-menu-horizontal " tabindex="0" role="menubar">
                    <li class="h-item k-item k-state-default k-first" role="menuitem"><a href="off-site-schedule-home.html" class="k-link">Home</a></li>
                    <li class="h-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Search</a></li>
                    <li class="h-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Admin</a></li>
                    <li class="h-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Reports</a></li>
                    <li class="h-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Dashboards</a></li>
                    
                </ul>   
            </div>
        </div>    
    </header>
<div class="org-container">
    <div class="org-search">
        <input type="text" placeholder="Search another organization..." kendo-auto-complete k-data-source="oranizationsName" style="width:20em;" id="nwo-search"  ng-change="refreshData()" ng-model="searchText"/>
    </div>
    <div class="panel-group org-bar">
  <div id="panelbar" class="panel panel-default org-bar">
    <div class="panel-heading org-bar">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1"><i class="fa fa-angle-double-down"></i> Org Name, Pcode</a>
      </h4>

    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
                <div class="org-col-md-3">
                    <table>
                        <tr>
                            <td class="title">Region/District:</td>
                            <td>Northeast</td>
                        </tr>
                        <tr>
                            <td class="title">RM:</td>
                            <td>James Word</td>
                        </tr>    
                        <tr>
                            <td class="title">Charter Date:</td>
                            <td>03/21/1994</td>
                        </tr>    
                        <tr>
                            <td class="title">Charter Status:</td>
                            <td>Active</td>
                        </tr>    
                    </table>
                </div>
                <div class="org-col-md-4">
                    <table>
                        <tr>
                            <td class="title">Next OHTS Meeting Date:</td>
                            <td>03/09/2016</td>
                        </tr>
                        <tr>
                            <td class="title">Watchlist:</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td class="title">Findings Present in Last Assessment?</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td class="title">OAD Reviewer:</td>
                            <td>Rebecca Seib</td>
                        </tr>
                    </table>

                </div>
                <div class="org-col-md-3">
                    <table>
                        <tr>
                            <td class="title">Date of Last Assessment:</td>
                            <td>04/05/2015</td>
                        </tr>
                        <tr>
                            <td class="title">Type of Last Assessment:</td>
                            <td>on-site</td>
                        </tr>
                    </table>

                </div>

            </div>  
      </div>

    </div>
  </div>
</div>
</div>
<div id="workflow-menu" class="row">
    <div class="col-md-10">
        <ul id="workMenu" data-role="menu" class="w-menu k-widget k-reset k-header k-menu k-menu-horizontal" tabindex="0" role="menubar">
            <li class="w-item k-item k-state-default k-first" role="menuitem"><a href="#" class="k-link">Summary</a></li>
                <li class="w-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Financial</a></li>
                <li class="w-item k-item k-state-selected" role="menuitem"><a href="#" class="k-link">Assessment Schedule</a></li>
                <li class="w-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">Assessment</a></li>
                <li class="w-item k-item k-state-default" role="menuitem"><a href="#" class="k-link">OHTS</a></li>
        </ul>
    </div>
</div>
<div class="c-container">
    <div class="c-row">
        <div id="context-menu" class="gray-bar" >
            <ul class="well nav nav-pills nav-stacked">
              <li role="presentation" ><a class="icon border-color-cal" href="schedule-offsite-assessment.html"> Schedule<br /> Off-site Assessment</a></li>
              <li role="presentation" class="active"><a class="icon border-color-staff" href="#"> Staff &amp; Consultants</a></li>
              <li role="presentation"><a class="icon border-color-dash" href="schedule-offsite-dashboards.html"> Dashboards</a></li>
              <li role="presentation"><a class="icon border-color-attach" href="schedule-attachments-offsite.html"> Attachments</a></li>
            </ul>
        </div>
        <div id="content-area">
            <div class="row">
                <div class="all-padding red-back" style="height:55px;" >
                    <div class="left pad-left"><h4>Assessment Date - 03/07/2016</h4></div> <div class="right pad-right"><h4 >Status - Pending Field/NI Comments</h4></div>
                </div>
            </div>
            <div class="row">
                <div class="left">    
                    <h2>Staff and Consultants</h2>
                </div>
                <div class="right all-padding">
                    <input type="button" class="btn btn-primary btn-lg" style="margin-right:.5em;" value="Cancel" ng-click="save()">
                    <input type="button" class="btn btn-primary btn-lg" style="margin-right:.5em;" value="Save" ng-click="save()">
                    <button class="btn btn-primary btn-lg" style="float:right" onclick="location.href='schedule-offsite-dashboards.html';">Next <i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="row t-pad">
                <div class="col-md-6">
                    <div class="row panel panel-default panel-body assessment-icon reviewer-img">
                        <span class="hd-font required">Lead Reviewer: </span>Mike L
                    </div>
                    <div class="row panel panel-default  assessment-icon meeting-img panel-body">
                        <span class="hd-font required">Consultants </span>
                        <select id="consultants">
                            <option>Consultant 1</option>
                            <option>Consultant 2</option>
                            <option>Consultant 3</option>
                            <option>Consultant 4</option>
                            <option>Consultant 5</option>
                            <option>Consultant 6</option>
                            <option>Consultant 7</option>
                            <option>Consultant 8</option>
                            <option>Consultant 9</option>
                            <option>Consultant 10</option>
                        </select>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Consultant 1</li>
                                <li class="list-group-item">Consultant 2</li>
                                <li class="list-group-item">Consultant 3</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row panel panel-default panel-body assessment-icon meeting-img">
                        <span class="hd-font required">Additional Staff </span>
                        <select id="staff">
                            <option>Staff 1</option>
                            <option>Staff 2</option>
                            <option>Staff 3</option>
                            <option>Staff 4</option>
                            <option>Staff 5</option>
                            <option>Staff 6</option>
                            <option>Staff 7</option>
                            <option>Staff 8</option>
                            <option>Staff 9</option>
                            <option>Staff 10</option>
                        </select>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Staff 1</li>
                                <li class="list-group-item">Staff 2</li>
                                <li class="list-group-item">Staff 3</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <label>Schedule Notes</label>
                        <textarea class="form-control" rows="11"></textarea>
                    </div>
                    <div class="row t-pad">
                        <label>Staffing Notes</label>
                        <textarea class="form-control" rows="11"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
    
    
    
    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/kendo.2015.1.318/kendo.all.min.js"></script>
       
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-sanitize.min.js"></script>
    <script src="Scripts/angular-ui-router.min.js"></script>
    <script src="Scripts/angular-touch.min.js"></script> 
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/select.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="Scripts/kendo.ui.core.min.js"></script>
    <script src="Scripts/ui-grid.min.js"></script>    
    <script src="Scripts/angular-local-storage.min.js"></script>
    <script src="Scripts/angular-growl.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#consultants").kendoDropDownList();
            $("#staff").kendoDropDownList();
            
            
        });
    </script>
    <script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
                $("#datepicker").kendoDatePicker();
                $("#datepicker2").kendoDatePicker();
                $("#datepicker3").kendoDatePicker();
                $("#datepicker4").kendoDatePicker();

                
            });
        </script>
    <script>
        var app = angular.module('app', ['ngTouch', 'ui.grid', 'ui.grid.expandable', 'ui.grid.selection', 'ui.grid.pinning']);
 
        app.controller('MainCtrl', ['$scope','$http','$log', function ($scope,$http,$log) {
            
          $scope.gridOptions = {
                data : 'myData',
                
                    columnDefs: [{ field: 'reviewDate', displayName: 'Review Date', width: '20%' },
                                 { field: 'reviewType', displayName: 'Review Type', width: "20%" },
                                 { field: 'scheduleStatus', displayName: 'Schedule Status', width: '20%' },
                                 { field: 'performedBy', displayName: 'Performed By', width: '20%' },
                                 { field: 'scheduleStatus2', displayName: 'Schedule Status', width: '20%' }
                                 
                                 ]
              
                    };
            
            $scope.myData = [
                {
                "reviewDate": "6/6/2022",
                "reviewType": "on-site",
                "scheduleStatus": "Not due",
                "performedBy": "TBD",
                "scheduleStatus2": "future"
                },
                {
                "reviewDate": "3/1/2021",
                "reviewType": "on-site",
                "scheduleStatus": "Not due",
                "performedBy": "TBD",
                "scheduleStatus2": "future"
                },
                {
                "reviewDate": "6/6/2019",
                "reviewType": "on-site",
                "scheduleStatus": "Not due",
                "performedBy": "TBD",
                "scheduleStatus2": "future"
                },
                {
                "reviewDate": "1/5/2018",
                "reviewType": "on-site",
                "scheduleStatus": "Not due",
                "performedBy": "TBD",
                "scheduleStatus2": "future"
                },
                {
                "reviewDate": "4/29/2016",
                "reviewType": "on-site",
                "scheduleStatus": "Date Confirmed",
                "performedBy": "Shu C",
                "scheduleStatus2": "TBD"
                },
                {
                "reviewDate": "1/1/2015",
                "reviewType": "off-site",
                "scheduleStatus": "complete",
                "performedBy": "Richard P",
                "scheduleStatus2": "n/a"
                },
                {
                "reviewDate": "6/1/2013",
                "reviewType": "on-site",
                "scheduleStatus": "complete",
                "performedBy": "Mike L",
                "scheduleStatus2": "n/a"
                },
                {
                "reviewDate": "1/30/2012",
                "reviewType": "off-site",
                "scheduleStatus": "complete",
                "performedBy": "Jennifer B",
                "scheduleStatus2": "n/a"
                }
            
            ];
          
        }]);
    </script>
    <script>
            $(document).ready(function() {
                $("#topMenu").kendoMenu();
            });
    </script>
    <script>
            $(document).ready(function() {
                $("#workflow-menu").kendoMenu();
            });
    </script>
    <script>
      angular.module("OrgPanel", [ "kendo.directives" ])
          .controller("OrgPanelCtrl", function($scope){
              $scope.panelBarOptions = {

              };

          })
      
    </script>
    <script>
            $(document).ready(function() {
                // create DatePicker from input HTML element
                $(".datepicker").kendoDatePicker();

                
            });
        </script>
   
    

</body>

</html>