.container-outer{
    border: 1px solid #e2e4e7;
}

.menu-wrapper {
    margin-left:-15px;
    margin-right:-15px;
}

.menu {
    display: inline-block; 
    min-width: 150px;width:100%;
}

.uiview {
    margin:10px 10px 10px 10px;
}

.prompt-form {

}

.prompt-form .help-block {
    display:none;
}

.prompt-form .has-error .help-block {
    display:block;
}

.prompt-form input.ng-pristine {
   /*background-color: #78FA89;*/
}

.prompt-form input.ng-dirty {
    /*background-color: red;*/
}

.prompt-form input.ng-valid {
    /*border: 1px solid grey;*/
}

.prompt-form input.ng-valid.ng-touched {
    /*border: 1px solid grey;*/
}

.prompt-form input.ng-invalid.ng-touched {
    border: 1px solid red;
}



.reportGrid {
    border: 1px solid rgb(212,212,212);
    /*width: 1200px;
    height: 800px;*/
}


.draggable {
    cursor: move;
    position: absolute;
    top: 113px;
    left:100px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #03a9f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
    
.draggable.hollow
{
    cursor: default;
    background: #ececec;
}
    
.droptarget
{
    height: 200px;
    width: 200px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    margin: 0 0 0 250px;
    cursor: default;
    border: 1px solid #999;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.batch-year
{

}

.draggable-item-content
{
    border-left-color:rgb(0, 156, 204);
    border-left-style: solid;
    margin:3px;
}

.draggable-tracked-item
{
    border:solid #cccccc;
    border-width: 1px 1px 1px 0; 
    width: 100%;
    -webkit-box-sizing: border-box;
}

.draggable-tracked-item-field
{
    position:relative;
    margin-top: 4px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;
    overflow: hidden;
    line-height: 16px;
    min-height: 38px;
    cursor: pointer;
    padding: 3px;
}

.draggable-tracked-item-field-text
{
    font-family: Segoe UI,Tahoma,Arial,Verdana;
    font-size:12px;
    margin:3px;
}

.tracked-item-popup{
    z-index:1000;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.two-col-view
{

}

.two-col-view dt::after
{
    content: ":";
}

.two-col-view dt, dd
{
    display:inline-block;
    max-width:150px;
}

.box-col
{
    text-align:center;
}

.k-grid {
    font-size: 12px;
}

.k-grid-header .k-header {
   overflow: visible!important;
   white-space: normal!important;
   vertical-align:middle!important;
}

/* wcOverlay directive CSS styles */
.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; padding-left:100px;position:absolute; z-index:1000;height:100%;width:100%;} /*background-color:#808080;opacity:0.3;*/
.overlayContent { position:absolute; border: 1px solid #000; background-color:#fff; font-weight: bold;height: 100px;width: 300px;z-index:1000;text-align:center;}

.submit-button-section
{
    border-color:transparent!important;
    float:right;
    margin-top:10px;
}

.grid {
  width: 500px;
  height: 250px;
}

/*.growl-container.growl-fixed.top-right {
  top: 10px;
  right: 15px;
}
.growl-container.growl-fixed {
  position: relative!important;
  float: none!important;
  margin-left:auto!important;
  margin-right:auto!important;  
}*/

/*@media screen and (max-width: 640px) {

    navbar-toggle { 
        display: none;
    }

    #ng-view {
        padding-top: 90px;
    }

    .navbar-brand {
        font-size: 12pt;
    }

    .nav.navBarPadding {
        margin-left: -10px;
    }

    .nav > li > a {
        padding-right: 5px;
        padding-left: 5px;
    }

}*/